@model bcpp.Models.sledovane

@{
    ViewBag.Title = "Vymazat";
}

<h3>Opravdu chcete vymazat tuto sledovanou?</h3>
<fieldset>
    <legend>sledovane</legend>

    <div class="form-group row">
        <label class="col-md-1 control-label">Název: </label>
        <div class="col-md-9">@Html.DisplayFor(model => model.nazev)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-1 control-label">Akcie: </label>
        <div class="col-md-9">@Html.DisplayFor(model => model.akcie.nazev)</div>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button class="btn btn-default" type="submit">Vymazat</button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
