@model IEnumerable<bcpp.Models.sledovane>

@{
    ViewBag.Title = "Index";
}

<h2>Sledované akcie</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazev)
        </th>
        <th></th>
    </tr>
</table>