@model IEnumerable<bcpp.Models.uzivatel>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}

<h2>Index</h2>

@grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    grid.Columns
    (
        grid.Column("jmeno", "Jméno"),
        grid.Column("prijmeni", "Příjmení"),
        grid.Column("adresa.mesto", "Město"),
        grid.Column("poznamka", "Poznámka"),
        grid.Column("penezenka", "Peněženka"),
        grid.Column(format: (item) => Html.ActionLink("Detaily", "Details", new { id = item.uzivatel_id })),
        grid.Column(format: (item) => new HtmlString(Html.ActionLink("  ", "Edit", new { id = item.uzivatel_id }, new { @class = "glyphicon glyphicon-edit", @title = "Upravit" }) + " " + Html.ActionLink("  ", "Delete", new { id = item.uzivatel_id }, new { @class = "glyphicon glyphicon-trash", @title = "Vymazat" })))
    
        
    )
)
