@model bcpp.Models.AkcieDetail
@using bcpp.Helpers

@{
    WebGrid grid = new WebGrid(Model.Historie);
    ViewBag.Title = "Detaily";
}

<script>
    $(function () {

        var prodej = [{'x':10110000,'y':358},{'x':10120000,'y':569},{'x':10130000,'y':120}], StockChart;
        var nakup = [{ 'x': 10110000, 'y': 358 }, { 'x': 10120000, 'y': 569 }, { 'x': 10130000, 'y': 120 }], StockChart;
        //prodej = prodej.sort();
        //nakup = nakup.sort();

        //console.log(data);
        
        $(document).ready(function () {

            $('#index-container').highcharts('StockChart', {

                chart: {
                    zoomType: 'x'
                },
                navigator: {
                    //adaptToUpdatedData: true
                },
                rangeSelector: {
                    inputBoxWidth: 130,
                    buttons: [{
                        type: 'week',
                        count: 1,
                        text: '1t'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1r'
                    }, {
                        type: 'year',
                        count: 3,
                        text: '3r'
                    }, {
                        type: 'all',
                        text: 'Vše'
                    }],
                    selected: 3
                },
                xAxis: {
                    type: 'date',
                    /*events: {
                        afterSetExtremes: afterSetExtremes
                    },*/
                    labels: { format: "{value:%m %Y}" }
                },

                yAxis: {
                    title: {
                        text: 'Cena'
                    }
                },

                title: {
                    text: 'Změny v prodejní a nákupní ceně akcie'
                },
                scrollbar: {
                    //liveRedraw: true
                },

                series: [{
                    turboThreshold: 3330,
                    name: 'Nákupní cena: ',
                    data: nakup
                    /*tooltip: {
                        valueSuffix: '',
                        labels: { format: "{value:%j. %F %Y}" }
                    },*/
                }, {
                    turboThreshold: 3330,
                    name: 'Prodejní cena: ',
                    data: prodej
                }]
            });
        });
    });
    

</script>

<fieldset>
    <legend>Akcie</legend>
    <div class="form-group row">
        <label class="col-md-2 control-label">IČO firmy</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.firma.ICO)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno akcie</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.nazev)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Zkratka akcie</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.zkratka)</div>
    </div>

<p>
    @*Html.ActionLink("Upravit", "Edit", new { id=Model.akcie_id }) |*@
    @Html.ActionLink("Zpět na seznam akcií", "Index")
</p>
    </fieldset>

<div id="index-container" style="width:100%; height:400px;"></div>
