@model bcpp.Models.PagedList<bcpp.Models.AkcieUserModel>
@using bcpp.Helpers

@{
    ViewBag.Title = "Akcie";
    WebGrid grid = new WebGrid(canPage: false,canSort: true);
    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
}

@{   
    <span >Peněženka: <b>@ViewBag.wallet</b> Kč</span>
    var gridColumns = new List<WebGridColumn>();

    gridColumns.Add(grid.Column("nazev", "Název " + Html.SortDirection(ref grid, "nazev")));
    gridColumns.Add(grid.Column("zkratka", "Zkratka " + Html.SortDirection(ref grid, "zkratka")));
    gridColumns.Add(grid.Column("cena_prodej", "Prodejní cena [Kč] " + Html.SortDirection(ref grid, "cena_prodej"), format: (item) => string.Format("{0:0.00}", item.cena_prodej)));
    gridColumns.Add(grid.Column("cena_nakup", "Nákupní cena [Kč] " + Html.SortDirection(ref grid, "cena_nakup"), format: (item) => string.Format("{0:0.00}", item.cena_nakup)));
    gridColumns.Add(grid.Column("datum", "Cena k datu " + Html.SortDirection(ref grid, "datum"), format: (item) => string.Format("{0:dd.MM.yyyy}", item.datum)));

    if (User.IsInRole("user") || User.IsInRole("admin"))
    {
        gridColumns.Add(grid.Column("pocet", "Počet " + Html.SortDirection(ref grid, "pocet")));
    }

    gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Detaily", "Details", new { id = item.akcie_id })));

    if (User.IsInRole("user") || User.IsInRole("admin"))
    {
        gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Upravit množství", "Index", "EditSum", new RouteValueDictionary(new { id = item.akcie_id }), null)));
    }

        
}
    
    @grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    grid.Columns(gridColumns.ToArray()))
