@model IEnumerable<bcpp.Models.akcie>
@using bcpp.Helpers

@{
    ViewBag.Title = "Akcie";
    WebGrid grid = new WebGrid(Model);
    String sum = "0"; //dodělat
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    
    @grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    grid.Columns
    (
        grid.Column("nazev", "Název"),
        grid.Column("zkratka", "Zkratka"),
        grid.Column("ico", "IČO"),
        Html.RoleBasedColumns("user",grid,"Množství",sum),
        grid.Column(format: (item) => Html.ActionLink("Detaily", "Details", new { id = item.pk_id }))
        @*jeste zde pak pridam sloupec pro upravu*@
    ))